<%= form_with(model: anho_carrera, local: true) do |form| %>
  <% if anho_carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anho_carrera.errors.count, "error") %> prohibited this anho_carrera from being saved:</h2>

      <ul>
      <% anho_carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="row">
  <div class="span8"> 
      <table class="table table-striped">

        <tbody>
          <tr>
              <td><div class="field">
                <%= form.text_field :anho, id: :anho_carrera_anho, :class=>"form-control", placeholder: "Anho" %>
              </div></td>


          <td><div class="actions">
              <%= form.submit %>
          </div></td>
      <% end %>
      </tr>
      </tbody>
      </table>
  </div>
</div>
</div>
