 <p id="notice"><%= notice %></p>

 <div class="container">
  <div class="row">
    <div class="span2">
    </div>
    <div class="span4">

        <h1>Anho Carreras</h1>

        <%= link_to new_anho_carrera_path, class: "btn btn-primary" do %>

              <i class="glyphicon glyphicon-plus"></i><% end %>
    </div>

    <div class="span8">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Anho</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @anho_carreras.each do |anho_carrera| %>
            <tr>
              <td><%= anho_carrera.anho %></td>
              <td><%= link_to anho_carrera, class:"btn btn-success"  do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                 <% end %> </td>  
              <td><%= link_to edit_anho_carrera_path(anho_carrera), class:" btn btn-info" do  %> 
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %></td> 
              <td><%= link_to anho_carrera, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-danger' do %> 
                   <i class="glyphicon glyphicon-trash"></i>
              <%end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
  </div>



