<p id="notice"><%= notice %></p>

<h1>Asignaciones</h1>

<table>
  <thead>
    <tr>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacions.each do |asignacion| %>
      <tr>
        <td><%= asignacion.observacion %></td>
        <td><%= link_to asignacion, class:"btn btn-success"  do %>
            <i class="glyphicon glyphicon-eye-open"></i>
           <% end %></td>


        <td><%= link_to  edit_asignacion_path(asignacion),class:" btn btn-info" do  %> 
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %></td>


        <td><%= link_to asignacion, method: :delete, data: { confirm: 'Estas Seguro?' }, class:'btn btn-danger' do %> 
             <i class="glyphicon glyphicon-trash"></i>
          <% end %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Asignacion', new_asignacion_path %>
