<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class="field">
          <%= form.text_field :nombre, id: :usuario_nombre, :class=>"form-control", placeholder: "Nombre" %>
        </div>
 
  <div class="field">
    <%= form.text_field :ci, id: :usuario_ci, :class=>"form-control", placeholder: "Nº C.I" %>
  </div>

<div class="field">
    <%= form.label :facultad_id %><br>
    <%= form.collection_select(:facultad_id, Facultad.all, :id, :nombre) %><br>
    <%= form.label :registro_carrera_id %><br>
    <%= form.collection_select(:registro_carrera_id, RegistroCarrera.all, :id, :nombreCarrera) %><br>
    <%= form.label :anho_carrera_id %><br>
    <%= form.collection_select(:anho_carrera_id, AnhoCarrera.all, :id, :anho) %><br>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

