<p id="notice"><%= notice %></p>

<div class="container">
<h2 class="text-center text-muted">Usuarios</h2>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ci</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.ci %></td>
        <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-info"><%= link_to 'Nuevo', new_usuario_path %></button>

